<div class=container>

<%# -user-profile %>


  <div class="user-profile-card" >
    <div class="user-profile-card-picture">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag(current_user.photo.key, :transformation=>[
          {:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"},
          {:radius=>"max"},
          {:width=>200, :crop=>"scale"}
          ]) %>
        <% else %>
          <%= image_tag 'ninja-profile.png', class:'avatar-big' %>
      <% end %>
      <%# <p>modifier ma photo (ou pas...)</p> %>
    </div>

    <div class="user-profile-card-info">
      <h3>Bonjour, je m'appelle <%= @user.name %></h3>
      <%= image_tag 'pin.svg' %>  <%= @user.localisation  %>
      <br>
      <p><%= @user.offres.count %>   offres publiées</p>
      <p><%= link_to "Publier une offre", new_offre_path, class: "offre-new" %></p>
    </div>
  </div>



  <div class="user-lists-card">

    <h3>Mes offres validées (+ mes demandes validés sur d'autres offres)</h3>
      <% @user.offres.each do |offre| %>
        <%= link_to offre_path(offre) do %>
          <div class="card-demande">
            <div class="card-demande-headers">
              <h2><%= offre.métier %></h2>
            </div>
            <div class="card-demande-infos">
              <h3><%= offre.prix %>€ / jour</h3>
            </div>
            <div class="card-demande-description">
              <p>desc: <%= offre.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>



    <h3>Mes réservations envoyées </h3>
    <% @user.demandes.each do |demande| %>
      <%= link_to demande_path(demande) do %>

        <div class="card-demande">
          <div class="card-demande-headers">
            <h2><%= demande.offre.user.name %> </h2>
            <h2><%= demande.offre.métier %> </h2>
          </div>
          <div class="card-demande-infos">
            <h3><%= demande.offre.prix %> € / jour </h3>
            <h3><%= (demande.date_fin - demande.date_debut).to_i * demande.offre.prix %> €</h3>
          </div>

          <div class="card-demande-description">
            <p>desc : <%= demande.offre.description %> </p>
          </div>
          <div class="card-demande-infos">
            <h2>Du <%= demande.date_debut.strftime("%d %b. %Y") %></h2>
            <h2>au <%= demande.date_fin.strftime("%d %b. %Y") %></h2>
          </div>
          <div class="card-demande-infos">
            <h2>Status:
              <% if demande.accepte.nil? %>
                ⏳
              <% elsif demande.accepte == true %>
                👍
              <% else %>
                🖕
              <% end %>
            </h2>
          </div>
        </div>
      <% end %>
    <% end %>



    <h3>Mes réservations reçues</h3>
    <% @user.offres.each do |offre| %>
      <% if Demande.where(offre_id: offre).length >= 1 %>
        <h5><%= offre.métier %></h5>

        <% Demande.where(offre_id: offre.id).each do |demande| %>
          <%= link_to demande_path(demande) do %>
            <div class="card-demande">

              <div class="card-demande-headers">
                <h2><%= demande.user.name %> </h2>
              </div>

              <div class="card-demande-infos">
                <h3><%= demande.offre.prix %> € / jour </h3>
                <h3><%= (demande.date_fin - demande.date_debut).to_i * demande.offre.prix %> €</h3>
              </div>

              <div class="card-demande-infos">
                <h2><%= demande.user.localisation %> </h2>
              </div>


              <div class="card-demande-infos">
                <h2>Du <%= demande.date_debut.strftime("%d %b. %Y") %></h2>
                <h2>au <%= demande.date_fin.strftime("%d %b. %Y") %></h2>
              </div>

              <div class="card-demande-infos">
                <h2>Status:
                  <% if demande.accepte.nil? %>
                    ⏳
                  <% elsif demande.accepte == true %>
                    👍
                  <% else %>
                    🖕
                  <% end %>
                </h2>
              </div>



            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to image_tag('slavery-whip.svg'), root_path %>
  </div>

</div>
