<h1 class="title-show">Détails de l'offre</h1>
<div class="container-show">
    <% if @offre.user.photo.attached? %>
    <%= cl_image_tag @offre.user.photo.key, class: "img-offre" %>
    <% else %>
    <img class="img-offre" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
    <% end %>
  <div class="offre-description-show">
    <h2 class="metier"><%= @offre.métier %></h2>
    <h4 class="prix">Prix/Jour : <strong><%= @offre.prix %></strong> euros </h4>
    <h4 class="description-show">Description :</h4>
      <%= @offre.description %>
        <div class="btn-container">
          <button class="btn btn-offre-reserver">
            <%= link_to "Réserver", new_demande_path(@offre) %>
          </button>
        </div>
  </div>

</div>
