<div class="container-show-toclean">
  <div class="card-product-show">
    <%= link_to offre_path(@offre) do %>
      <div class="offre-avatar-show">
        <% if @offre.user.photo.attached? %>
        <%= cl_image_tag @offre.user.photo.key, class: "avatar-offre" %>
        <% else %>
        <img class="avatar-offre" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
        <% end %>
      </div>
            <div class="offre-description">
              <h4><%= @offre.métier %></h4>
              <p>Prix/jour: <strong><%= @offre.prix %></strong> </p>
              <p>Description: <%= @offre.description %></p>
        </div>
    <div>
      <button class="btn btn-ghost">
        <%= link_to "Réserver", new_demande_path(@offre) %>
      </button>
    </div>
  </div>
    <% end %>
</div>


to keeep

<div class="container-show">
  <div class="offre-description-show">
    <h2><%= @offre.métier %></h2>
    <h4>Prix/Jour: <strong><%= @offre.prix %></strong> euros </h4>
      <div class="offre-avatar-show">
        <% if @offre.user.photo.attached? %>
        <%= cl_image_tag @offre.user.photo.key, class: "avatar-img-offre" %>
        <% else %>
        <img class="avatar-img-show" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
        <% end %>
      </div>
    <h4>Description:</h4>
    <%= @offre.description %>
      <div class="btn-container">
        <button class="btn btn-offre-reserver">
          <%= link_to "Réserver", new_demande_path(@offre) %>
        </button>
      </div>
  </div>
