<div class="container">
<%= simple_form_for @demande do |f| %>
    <%= f.input :date_debut, as: :date %>
    <%= f.input :date_fin, as: :date %>
    <%= f.input :offre, :as => :hidden, :input_html => { :value => @offre.id } %>
    <%= f.submit "Confirmer", class: "btn btn-primary" %>
  <% end %>
</div>