
<div class="container-demande-show">
  <div class="demande-show-card-left">
    <%= link_to offre_path(@demande.offre) do %>
      <div class="demande-show-offre">
        <div class="demande-offre-avatar">
          <% if @demande.offre.user.photo.attached? %>
            <%= cl_image_tag(@demande.offre.user.photo.key, :transformation=>[
                                                    {:gravity=>"face", :height=>350, :width=>400, :crop=>"crop"},
                                                    {:radius=>"max"},
                                                    {:width=>200, :crop=>"scale"}
                                                    ]) %>
        <% else %>
          <%= image_tag 'ninja-profile.png', class:'avatar-big' %>
      <% end %>
        </div>
        <div class="demande-offre-description">
          <h4><%= @demande.offre.métier %></h4>
          <p><%= @demande.offre.description %></p>
        </div>
      </div>
    <% end %>
  <div class='container-chat' ng-cloak ng-app="chatApp">
    <div class='chatbox' ng-controller="MessageCtrl as chatMessage">
      <div class='chatbox__user-list'>
        <h1>Utilisateurs</h1>
        <% if current_user == @demande.user %>
          <div class='chatbox__user--active'>
            <p class="chosen-user"><%= @demande.user.name.capitalize %></p>
          </div>
          <div class='chatbox__user--active'>
            <p><%= @demande.offre.user.name.capitalize %></p>
          </div>
        <% else %>
          <div class='chatbox__user--active'>
            <p><%= @demande.user.name.capitalize %></p>
          </div>
          <div class='chatbox__user--active'>
            <p class="chosen-user"><%= @demande.offre.user.name.capitalize %></p>
          </div>
        <% end %>
      </div>


      <div class="chat-scroll">
        <div class="chatbox__messages" ng-repeat="message in messages" id="other">
          <div class="chatbox__messages__user-message">
            <% @demande.messages.where.not(user_id: current_user).each do |message| %>
              <div class="chatbox__messages__user-message--ind-message">
                <p class="name"><%= message.user.name.capitalize %></p>
                <br/>
                <p class="message"><%= message.content %></p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="chatbox__messages" ng-repeat="message in messages" id="myself">
          <div class="chatbox__messages__user-message">
            <% @demande.messages.where(user_id: current_user).each do |message| %>
              <div class="chatbox__messages__user-message--ind-message">
                <p class="name"><%= current_user.name.capitalize %></p>
                <br/>
                <p class="message"><%= message.content %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <%= simple_form_for [@demande, @message], html: { class: "test"} do |f| %>
        <%= f.input_field :content, placeholder: "Entrez votre message" %>
      <% end %>

    </div>
  </div>
  </div>



  <div class="demande-show-card-right">
      <% if @demande.user.photo.attached? %>
        <%= cl_image_tag(@demande.user.photo.key, :transformation=>[
                                                {:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"},
                                                {:radius=>"max"},
                                                {:width=>200, :crop=>"scale"}
                                                ]) %>
        <% else %>
          <%= image_tag 'ninja-profile.png', class:'avatar-big' %>
      <% end %>

      <div class="card-right-text">
        <p>Recruteur: <%= @demande.user.name.capitalize %></p>
      </div>
      <div class="card-right-text">
        <p>Début de la mission: <%= @demande.date_debut.strftime("%d %b. %Y") %></p>
      </div>
      <div class="card-right-text">
        <p>Fin de la mission: <%= @demande.date_fin.strftime("%d %b. %Y") %></p>
      </div>
      <div class="card-right-text">
        <p>Prix total: <%= (@demande.date_fin - @demande.date_debut).to_i * @demande.offre.prix %>€</p>
      </div>
      <div class="card-right-text">
        <p class="etat-demande">
          Etat de la demande: <% if @demande.accepte.nil? %>
                                En attente
                              <% elsif @demande.accepte? %>
                                <i class="far fa-check-square"></i>
                              <% else %>
                                <i class="fas fa-times"></i>
                              <% end %>
        </p>
      </div>
      <% if current_user == @demande.offre.user %>
        <div class="buttons-demande-show">
          <% if @demande.accepte.nil? %>
            <%= button_to "Accepter", accepter_path(@demande), remote: true, method: :patch, class: "btn btn-success to-accept" %>
            <%= button_to "Refuser", refuser_path(@demande), remote: true, method: :patch, class: "btn btn-danger to-refuse"%>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
