<div class="container-demande-show">
  <div class="demande-show-card-left">
    <%= link_to offre_path(@demande.offre) do %>
      <div class="demande-show-offre">
        <div class="demande-offre-avatar">
          <% if @demande.offre.user.photo.attached? %>
            <%= cl_image_tag @demande.offre.user.photo.key, class: "avatar-offre" %>
          <% else %>
            <img class="avatar-offre" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
          <% end %>
        </div>
        <div class="demande-offre-description">
          <h4><%= @demande.offre.métier %></h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, ipsum excepturi!</p>
        </div>
      </div>
    <% end %>
    <div class="demande-show-chat">
      <p>Ceci va devenir un chat</p>
    </div>
  </div>

  <div class="demande-show-card-right">
      <% if @demande.user.photo.attached? %>
        <%= cl_image_tag @demande.user.photo.key, width: 300, height: 250, class: "demande-avatar" %>
      <% else %>
      <img class="card-img-top" style="width:18rem" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
      <% end %>

      <div class="card-right-text">
        <p>Recruteur: <%= @demande.user.name.capitalize %></p>
      </div>
      <div class="card-right-text">
        <p>Début de la mission: <%= @demande.date_debut %></p>
      </div>
      <div class="card-right-text">
        <p>Fin de la mission: <%= @demande.date_fin %></p>
      </div>
      <div class="card-right-text">
        <p>Prix total: <%= (@demande.date_fin - @demande.date_debut).to_i * @demande.offre.prix %>€</p>
      </div>
      <div class="card-right-text">
        <p>
          Etat de la demande: <% if @demande.accepte.nil? %>
                                En attente
                              <% elsif @demande.accepte? %>
                                <i class="far fa-check-square"></i>
                              <% else %>
                                <i class="fas fa-times"></i>
                              <% end %>
        </p>
      </div>
  </div>
</div>
