
<div class="container-demande-show">
  <div class="demande-show-card-left">
    <%= link_to offre_path(@demande.offre) do %>
      <div class="demande-show-offre">
        <div class="demande-offre-avatar">
          <% if @demande.offre.user.photo.attached? %>
            <%= cl_image_tag @demande.offre.user.photo.key, class: "avatar-offre" %>
          <% else %>
            <img class="avatar-offre" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
          <% end %>
        </div>
        <div class="demande-offre-description">
          <h4><%= @demande.offre.métier %></h4>
          <p><%= @demande.offre.description %></p>
        </div>
      </div>
    <% end %>
    <div class="demande-show-chat">
      <p>Ceci va devenir un chat</p>
    </div>
  </div>

  <div class="demande-show-card-right">
      <% if @demande.user.photo.attached? %>
        <%= cl_image_tag @demande.user.photo.key, width: 300, height: 250, class: "demande-avatar" %>
      <% else %>
      <img class="card-img-top" style="width:18rem" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
      <% end %>

      <div class="card-right-text">
        <p>Recruteur: <%= @demande.user.name.capitalize %></p>
      </div>
      <div class="card-right-text">
        <p>Début de la mission: <%= @demande.date_debut %></p>
      </div>
      <div class="card-right-text">
        <p>Fin de la mission: <%= @demande.date_fin %></p>
      </div>
      <div class="card-right-text">
        <p>Prix total: <%= (@demande.date_fin - @demande.date_debut).to_i * @demande.offre.prix %>€</p>
      </div>
      <div class="card-right-text">
        <p>
          Etat de la demande: <% if @demande.accepte.nil? %>
                                En attente
                              <% elsif @demande.accepte? %>
                                <i class="far fa-check-square"></i>
                              <% else %>
                                <i class="fas fa-times"></i>
                              <% end %>
        </p>
      </div>
  </div>
</div>


<div class='container-chat' ng-cloak ng-app="chatApp">
  <div class='chatbox' ng-controller="MessageCtrl as chatMessage">
    <div class='chatbox__user-list'>
      <h1>Utilisateurs</h1>
      <div class='chatbox__user--active'>
        <p><%= @demande.user.name.capitalize %></p>
      </div>
      <div class='chatbox__user--active'>
        <p><%= @demande.offre.user.name.capitalize %></p>
      </div>
    </div>


    <div class="chat-scroll">
      <div class="chatbox__messages" ng-repeat="message in messages" id="other">
        <div class="chatbox__messages__user-message">
          <% @demande.messages.where.not(user_id: current_user).each do |message| %>
            <div class="chatbox__messages__user-message--ind-message">
              <p class="name"><%= message.user.name.capitalize %></p>
              <br/>
              <p class="message"><%= message.content %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="chatbox__messages" ng-repeat="message in messages" id="myself">
        <div class="chatbox__messages__user-message">
          <% @demande.messages.where(user_id: current_user).each do |message| %>
            <div class="chatbox__messages__user-message--ind-message">
              <p class="name"><%= current_user.name.capitalize %></p>
              <br/>
              <p class="message"><%= message.content %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <%= simple_form_for [@demande, @message], html: { class: "test"} do |f| %>
      <%= f.input_field :content, placeholder: "Entrez votre message" %>
    <% end %>

  </div>
</div>

</div>







    <div class="chat-scroll">
      <% @demande.messages.order(:created_at).each do |message| %>
          <% if message == current_user %>
            <div class="chatbox__messages" ng-repeat="message in messages" id="myself">
              <div class="chatbox__messages__user-message">
                <div class="chatbox__messages__user-message--ind-message">
                  <p class="name"><%= message.user.name.capitalize %></p>
                  <br/>
                  <p class="message"><%= message.content %></p>
                </div>
              </div>
            </div>
          <% else %>
            <div class="chatbox__messages" ng-repeat="message in messages" id="other">
              <div class="chatbox__messages__user-message">
                <div class="chatbox__messages__user-message--ind-message">
                  <p class="name"><%= message.user.name.capitalize %></p>
                  <br/>
                  <p class="message"><%= message.content %></p>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
